.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
frontend/build/
nohup.out
deployment/venv/
deployment/venv/**
deployment/Dockerrun.aws.json
deployment/*Dockerrun.aws.json*
deployment/**/build/
deployment/**/build/**
deployment/**/__pycache__/
deployment/**/__pycache__/**
**/app-properties.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
