@import "../../../css/Theme.less";

.HeaderBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @HeaderBarHeight; 
  border-bottom: 1px solid transparent;
  box-shadow: 0px 2px 10px -7px rgba(0,0,0,0.5);
  background-color: black;
  display: flex;
  z-index: 9999999;
  overflow: hidden;
  transition: all @HeaderAnimationTime;
}

.Hidden {
  height: 0;
}

.HeaderBarCollapsed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @HeaderBarHeight / 2; 
  border-bottom: 0.3vw solid #ff471f;
  box-shadow: 0px 2px 10px -7px rgba(0,0,0,0.5);
  background-color: white;
  display: flex;
  z-index: 99999999999;
  transition: all @HeaderAnimationTime;
}

.ExpandableMenuWrapper {
  display: none;
}

.LogoWrapper {
  width: auto;
  height: 100%;
  display: inline-block;
}

.MenuWrapper {
  width: 100%;
  display: inline-block;
  margin-left: @HeaderBarHeight / 7;
}

.LoginViewWrapper {
  position: relative;
  top: 1vw;
  margin-right: 2vw;
  transition: all @HeaderAnimationTime;
}

.HeaderBarCollapsed .LoginViewWrapper {
  position: relative;
  top: -0.1vw;
}

@media only screen and (max-width: 550px) {
  .HeaderBarCollapsed {
    height: 12vh !important;
  }

  .HeaderBarCollapsed .LogoWrapper div {
    height: 100% !important;
  }

  .HeaderBarCollapsed .LogoWrapper img {
    margin-top: 3vh !important;
    height: 6vh !important;
  }

  .HeaderBarCollapsed .MenuWrapper {
    display: none !important;
  }

  .HeaderBarCollapsed .LoginViewWrapper {
    display: none !important;
  }

  .HeaderBarCollapsed .ExpandableMenuWrapper {
    display: inline-block !important;
  }
}