@import "../../../css/Theme.less";

.MainPanel {
  font-size: 3vw;
  height: 100%;
  padding: 8vw;
  /* background: @HomeBackgroundFilterColor; */
  width: 100%;
  padding-top: 11vw;
  text-align: left;
}

.Subheader {
    max-width: 50vw;
}

.Header {
    
}

.Logo {
  width: 41vw;
  margin-left: 23vw;
  margin-top: 4vw;
}

.LogoWrapper {
    position: absolute;
    height: 37vw;
    width: 37vw;
    top: 6vw;
    right: 24vw;
    filter: brightness(182%);
}

.SeeMoreButton {
    border: 0.3vw solid white;
    padding: 1vw;
    width: 38vw;
    cursor: pointer;
}

.SeeMoreButton:hover {
    background: #155799;
}

.SeeMoreButtonIcon {
    display: inline-block;
}

.SeeMoreButtonText {
    display: inline-block;
    margin-left: 1vw;
}

.FacebookLikeWrapper {
  position: absolute;
  top: 2vw;
  right: 2vw;
  z-index: 99999999999999999 !important;
}

.SocialLinksWrapper {
  position: absolute;
  right: 11vw;
  bottom: 1vw;
}

.MainPanel p {
  font-size: 2vw;
}

.MainPanel p > b {
  font-size: 3vw;
}

@media only screen and (max-width: 1024px) {
  .MainPanel {
    padding-top: 23vw;
  }
}

@media only screen and (max-width: 768px) {
  .MainPanel {
    padding: 13vw;
    padding-top: 23vw;
  }
}

@media only screen and (max-width: 425px) {
  .MainPanel {
    padding-left: 13vw;
    padding-top: 90vw;
  }

  .MainPanel p {
    font-size: 6vw;
  }

  .MainPanel p > b {
    font-size: 8vw;
  }

  .SocialLinksWrapper {
    right: unset;
    bottom: unset;
    width: 100vw;
    text-align: center;
    position: relative;
    left: -13vw;
  }
}

@media only screen and (max-width: 425px) and (max-height: 740px) {
  .MainPanel {
    padding-left: 13vw;
    padding-top: 63vw;
    margin-top: 4vh;
  }

  .MainPanel p {
    font-size: 3vh;
  }

  .MainPanel p > b {
    font-size: 4vh;
  }
}

@media only screen and (max-width: 354px) {
  .MainPanel {
    padding-left: 13vw;
    padding-top: 41vh;
  }

  .MainPanel p {
    font-size: 6vw;
  }

  .MainPanel p > b {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 425px) and (max-height: 450px) {
  .MainPanel {
    padding-left: 13vw;
    padding-top: 63vw;
    margin-top: 4vh;
  }

  .MainPanel p {
    font-size: 1.8vh;
  }

  .MainPanel p > b {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 355px) {
  .SocialLinksWrapper {
    left: -21vw;
  }
}