.item {
  cursor: pointer;
  margin: 0.3vw;
  position: absolute; /* Required by Muuri */
}

.muuri-item-dragging {
  z-index: 3;   /* Required by Muuri */
}

.muuri-item-releasing {
  z-index: 2; /* Required by Muuri */
}

.muuri-item-hidden {
  z-index: 0; /* Required by Muuri */
}