.item {
  margin: 0.3vw;
  position: absolute;
  display: block;
  /* width: 100px; */
  /* height: 100px; */
  margin: 5px;
  z-index: 1;
  //position: absolute; /* Required by Muuri */
}

.item-content {
  position: relative;
  width: 96%;
}

.muuri-item-dragging {
  z-index: 3;   /* Required by Muuri */
}

.muuri-item-releasing {
  z-index: 2; /* Required by Muuri */
}

.muuri-item-hidden {
  z-index: 0; /* Required by Muuri */
}