@import "../../../css/Theme.less";

.Section {
  margin-bottom: 10vw;
}

.SectionInverted {
  margin-bottom: 10vw;
  padding: 5vw;
  background: @BaseGradient;
}

.SectionContent {
  position: relative;
  left: 30vw;
}

@media only screen and (max-width: 425px) {
  .SectionRotated {
    min-height: 35vh;
  }
}
