@HeaderBarHeight: 10vw;
@BigIndent: 10vw;

/* @PrimaryColor: #373d54; */
@PrimaryColor: #699C8B;
@SecondaryColor: rgba(178, 178, 178, 0.7);
/* @AccentColor: rgb(192, 26, 44); */
@AccentColor: #155799;
@LightAccentColor: white;
@DarkAccentColor: black;

@HeaderMenuItemSize: 0.8vw;
@HeaderHeight: 80vh;
@HeaderMaxHeight: 40vw;

@HeaderAnimationTime: 0s;

@PrimaryFont: 'Quicksand', 'Questrial', sans-serif;
@SecondaryFont: 'Quicksand', 'Questrial', sans-serif;

@HomeBackgroundFilterColor: rgba(0, 0, 0, 0.08);