/* @PrimaryColor: #373d54; */
/* @AccentColor: rgb(192, 26, 44); */
.react-select__option {
  background: transparent;
  color: white;
}
.react-select__control {
  max-width: 31vw;
  background: transparent !important;
}
.react-select__control,
.react-select__value-container,
.react-select__control {
  background: transparent;
}
.react-select__menu-list {
  background: rgba(0, 0, 0, 0.68);
}
.react-select__option--is-focused {
  background: #155799 !important;
  font-weight: bold;
}
.react-select__single-value {
  color: black !important;
}
