@import "../../../css/Theme.less";

.SectionAbout {
  font-family: @SecondaryFont;
}

.Quotes {
  border-left: 0.3vw solid white;
  padding-left: 1vw;
  font-family: @SecondaryFont;
  color: white;
}

.AboutText {
  width: 80vw;
  color: white;
  font-family: @SecondaryFont;
  color: white;
}

.ExamplesTable {
  width: 78vw;
}

.Screenshot {
   width: 40vw;
}