@import "../../../css/Theme.less";

.SectionAbout {
  font-family: @SecondaryFont;
}

.Quotes {
    border-left: 1vw solid white;
    padding-left: 1vw;
}

.AboutText {
  width: 80vw;
  color: white;
}

.ExamplesTable {
  width: 78vw;
}

.Screenshot {
   width: 40vw;
}