@import "../../../css/Theme.less";

.Logo {
  height: 100%;
  padding-top: @HeaderBarHeight / 4;
  padding-left: 1vw;
  transition: all @HeaderAnimationTime;
}

.LogoSmall {
  height: 50%;
  padding-top: 0;
  padding-left: @BigIndent / 2;
  transition: all @HeaderAnimationTime;
}

.LogoImage {
  height: @HeaderBarHeight / 2;
  transition: all @HeaderAnimationTime;
  padding: 0.2vw;
}

.LogoSmall .LogoImage {
  height: 3vw;
  transition: all @HeaderAnimationTime;
  padding-top: 0.5vw;
  padding-bottom: 0.2vw;
}
