@import "../../../css/Theme.less";

.SideDescription {
    font-family: @SecondaryFont;
    color: white;
}

.SideDescription h1, .SideDescription  h2, .SideDescription h3, .SideDescription h4 {
    color: white;
}

.Table {
    width: 100vw;
}

.Description {
    padding-left: 6vw;
    height: 100%;
    width: 43vw;
}

.Content {
    padding-left: 7vw;
}

.DescriptionContent {
    padding-left: 3vw;
    height: 100%;
    border-left: 0.3vw solid @AccentColor;
}