@import "../../../css/Theme.less";

.GeneralStatsView {
  font-family: @PrimaryFont;
  width: 33vw;
  transform: rotateX(40deg) rotateZ(10deg) rotateY(-5deg);
  position: absolute;
  left: -20vw;
  top: 2vw;
  border-bottom: 1.5vw solid lightgray;
  border-right: 0.5vw solid lightgray;
}

.Animation {
   width: 9vw;
}

.Caption {
  float: right;
  margin-right: 10vw;
  position: relative;
  top: -7.5vw;
  left: 8.5vw;
  font-weight: bold;
  font-size: 2vw;
}