@import "../../../css/Theme.less";

.SectionHeader {
  font-size: 4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  z-index: 999999999;
  position: relative;
  font-family: @PrimaryFont;
}

.TitleWrapper {
  display: inline-block;
  margin-left: 2vw;
  width: 100%;
}

.CenteredTitleWrapper {
  display: inline-block;
  margin-left: 2vw;
  width: 100%;
  text-align: center;
}

.TitleAutolink {
  color: @PrimaryColor;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2vw;
}

.TitleAutolink:hover {
  color: @PrimaryColor;
  text-decoration: none;
  font-weight: bold;
}

.TitleAutolinkInverted {
    color: white;
}

.TitleAutolinkInverted:hover {
    color: white;
}

.IconWrapper {
  display: inline-block;
  width: 45%;
  margin-left: @BigIndent;
}

@media only screen and (max-width: 425px) {
  .SectionHeader {
    font-size: 8vw;
    margin-top: 7vw;
    margin-bottom: 5vw;
  }
}
