@import "../../../css/Theme.less";

.HeaderMenu {
  padding-top: 0;
  transition: all @HeaderAnimationTime;
  position: absolute;
  width: 100vw;
  text-align: center;
  background: @BaseGradient;
}

.HeaderMenuSmall {
  padding-top: 0.5vw;
  transition: all @HeaderAnimationTime;
}

.HeaderMenuInExpander {

}

.HeaderMenuNotInExpander {

}

@media only screen and (max-width: 1024px) {
  .HeaderMenu {
    max-width: 93vw;
  }
}
