@import "../../../css/Theme.less";

.LoginPanel {
  font-family: @PrimaryFont;
  /* background: rgba(0, 0, 0, 0.4); */
  padding-top: 13vw;
  height: 100vw;
}

.LoginContent {
    height: 73vh;
    overflow-y: scroll;
    padding-bottom: 8vw;
}

.Spinner {
    margin-left: 48vw;
    margin-top: 10vw;
}

.MessageWarn {
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: @AccentColor;
    color: @LightAccentColor;
    font-size: 1vw;
    padding-left: 1vw;
    text-align: center;
    width: 100vw;
    left: 0;
    position: absolute;
    top: 10vw;
}

.MessageWarnIcon {
    margin-right: 1vw;
}

.MessageWarnText {

}

.MessageOk {
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: @PrimaryColor;
    color: @LightAccentColor;
    font-size: 1vw;
    padding-left: 1vw;
    text-align: center;
    width: 100vw;
    left: 0;
    position: absolute;
    top: 10vw;
}


.MessageOkIcon {
    margin-right: 1vw;
}

.MessageOkText {

}

.InputRow {
    padding-left: 8vw;
}

.ButtonsRow {
    padding-left: 10.5vw;
}

.Input {
  background: transparent;
  border: none;
  border-bottom: 0.2vw solid @SecondaryColor;
  transition: all 1s;
  margin-left: 1vw;
  color: @SecondaryColor;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.8vw;
}

.Input:focus {
  border-bottom: 0.2vw solid @AccentColor;
  color: @LightAccentColor;
}

.Submit {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  color: @LightAccentColor;
  padding-bottom: 0.5vw;
  margin-left: 1vw;
  margin-top: 1vw;
  display: block;
  transition: all 1s;
  width: 22vw;
  margin-left: 5.8vw;
}

.Submit:hover {
  background: @AccentColor;
  color: @LightAccentColor;
}

.LoginButtonSocialWrapper {
    margin-left: 5vw;
    width: 24vw;
    text-align: center;
    margin-top: 1vw;
}

.LoginButtonSocial {
  display: inline-block !important;
  color: @LightAccentColor;
  font-weight: bold;
  border: 1px solid gray;
  padding-left: 1vw;
  cursor: pointer;
  text-align: center;
  width: 6vw;
  padding-right: 1vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  border-radius: 1vw;
  margin-right: 1.5vw;
  font-size: 4vw;
}

.LoginButtonSocial:hover {
  border: 1px solid @AccentColor;
  color: @AccentColor;
}
